html {
  font-size: 10px;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.animation {
  animation-duration: 0.1s;
  animation-name: rollDrum;
}

@keyframes rollDrum {
  from {
    transform-origin: 50% 50%;
    transform: scale(0.99);
  }

  to {
    transform-origin: 50% 50%;
    transform: scale(1.05);
  }
}

.drum svg {
  display: block;
  margin: auto;
  height: 400px;
}

.keys {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.key {
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: rgb(235, 73, 93);
  background: rgba(0,0,0,0.15);
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 3rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: rgb(92, 92, 92);
}
